body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer {
   position:fixed;
   left:0px;
   bottom:0px;
   width:100%;
   margin-top: 10px;
}  

.text-small {
    font-size: .7em;
}

.center {
    margin: auto;
    width: 100%;
    padding: 10px;
}