.title {
    font-size: 1.5em;
}

.collection-item {
    transition: all ease-in-out 300ms;
}

.collection-item:hover {
    box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.25);
    transition: all ease-in-out 270ms;
    padding: 1em;
}

.collection-item:hover .hover-visible {
    display: inline-flex !important;
    opacity: 1;
    transition: all ease-in-out 150ms;
}

.finished {
    text-decoration: line-through;
}

.todo {
    margin-bottom: 10px !important;
}

.ui.items>.item [hidden] {
    display: none;
}

.ui.items>.item .meta * {
    margin-top: .3em;
    margin-bottom: .3em;
}

.hover-visible {
    display: none !important;
    opacity: 0;
    margin-right: -2px;
}

.option-buttons
{
    display: table-caption !important;
    opacity: 0;
    transition: all ease-in-out 300ms;
}

.options-container:hover .option-buttons
{
    opacity: 1;
    transition: all ease-in-out 300ms;
}

.scale:hover
{
    zoom: 102%;
}

.edit:hover
{
    color: #2185D0!important;
}

.trash:hover
{
    color: #DB2828!important;
}

.ui.extra .option-buttons
{
    margin-bottom: 10px !important;
}

.option-group {
    margin-right: -6px !important;
}