.title {
    font-size: 1.5em;
}

.collection-item:hover {
    background: #E0F2F1;
    transition: ease-in-out 400ms;
}

.collection-item:last-child {    
    border-bottom: 1px solid #e0e0e0
}

.finished {
    text-decoration: line-through;
}

.todo {
    margin-bottom: 10px !important;
}