<todo-view class="ui item" id="{{todo.id}}">
    <div class="ui fluid container todo collection-item">
        <div class="ui extra">
            <label class="hand left floated {{classes}}" for="checkbox-{{todo.id}}">Name: {{todo.name}}</label>
            <div class="ui checkbox hand hover-visible right floated">
                <input class="hand" id="checkbox-{{todo.id}}" type="checkbox" ((click:toggleState)) {{checked}}/>
                <label></label>
            </div>
        </div>
        <div class="ui extra" {{finished}}>
            <div> <i class="green database icon"></i> Created in {{todo.creationPrettyDate}} </div>
            <div> <i class="checkmark icon"></i> Finished in {{todo.donePrettyDate}} </div>
            <div> <i class="clock icon"></i> Due date in {{todo.duePrettyDate}} </div>
            <div class="description">
                <p>
                    {{todo.description}}
                </p>
            </div>
        </div>
        <div class="ui meta" {{open}}>
            <div> <i class="green database icon"></i> Created in {{todo.creationPrettyDate}} </div>
            <div> <i class="blue info icon"></i> Edited in {{todo.updatePrettyDate}} </div>
            <div> <i class="clock icon"></i> Due date in {{todo.duePrettyDate}} </div>
            <div class="description">
                <p>
                    {{todo.description}}
                </p>
            </div>
            <button class="ui green mini icon button" ((click:edit))>
                <i class="edit icon"></i>
            </button>
            <button class="ui red mini icon button" ((click:remove))>
                <i class="trash icon"></i>
            </button>
        </div>
    </div>
</todo-view>