footer span {
    color: yellow;
}

footer
{
    color: ghostwhite;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.text-small {
    font-size: .7em;
}

.center {
    margin: auto;
    width: 100%;
    padding: 10px;
}

@media screen and (max-width: 780px) {
    .app-name {
        display: none;
    }
}

.ui.container.app-name
{
    text-align: center;
    align-items: center;
    color: ghostwhite;
}

.wide-background
{
    border-radius: 0 !important;
}

.orange.wide-background
{
    background: orangered !important;    
    color: ghostwhite !important;
}

.green.wide-background
{
    background: seagreen !important;
    color: ghostwhite !important;
}

.red.wide-background
{
    background: #DB2828 !important;
    color: ghostwhite !important;
}

.blue.wide-background
{
    background: mediumblue !important;
    color: ghostwhite !important;
}

.purple.wide-background
{
    background: purple !important;
    color: ghostwhite !important;
}