<todo-view id="{{todo.id}}">
    <div class="content">
        <div class="ui right floated compact segment">
            <input type="checkbox" onclick="<<toggleState>>" />
            <label [attr.for]="id">Nome: {{todo.name}}</label>
        </div>
        <a class="header name" [class.finished]="todo.done"></a>
        <div class="meta" *ngIf="todo.done">
            <span> <i class="checkmark box icon"></i> Terminado há {{todo.doneDate}} </span>
        </div>
        <div class="description" *ngIf="todo.description">
            <p>
                {{todo.description}}
            </p>
        </div>
        <div class="extra">
            <button class="ui green mini icon button" (click)="onEdit.emit(todo)">
            <i class="edit icon"></i>
        </button>
            <button class="ui red mini icon button" (click)="onRemove.emit(todo)">
            <i class="trash icon"></i>
        </button>
        </div>
    </div>
</todo-view>