<link rel="stylesheet" href="src/view/modal/ModalComponent.css">

<div class="ui fullscreen modal" id="{{modalId}}">
    <i class="ui white close icon"></i>
    <div class="header ui {{reflectColor}} wide-background">
        <div class="ui white" {{whenCreating}}> 
            Add new Task
        </div>
        <div class="ui white" {{whenEditing}}> 
            Editting Task
        </div>
        <div class="ui white" {{whenRemoving}}>
            Are you sure you want to remove this task?
        </div>
    </div>
    <div class="content">
        <div {{whenNotRemoving}}>
            <form class="ui form">
                <div class="field">
                    <label>Task Name</label>
                    <input type="text" ((change:setTodoName)) value="{{todo.name}}" maxlength="50" minlength="5" placeholder="Go to supermarket...">
                </div>
                <div class="field">
                    <label>Due Date</label>
                    <input type="date" ((change:setDueDate)) value="{{todo.formattedDueDate}}">
                </div>
                <div class="field">
                    <label>Task Description</label>
                    <textarea rows="2" ((change:setTodoDescription)) placeholder="Buy 2 eggs, milk, floor, etc.">{{todo.description}}</textarea>
                </div>
            </form>
        </div>
        <div {{whenRemoving}}>
            <div class="ui aligned center container">
                <div class="ui basic segment">
                    <label class="ui label">Task Name</label>
                    <label>{{todo.name}}</label>
                </div>
                <div class="ui basic segment">
                    <label class="ui label">Due Date</label>
                    <label>{{todo.duePrettyDate}}</label>
                </div>
                <div class="ui basic segment">
                    <label class="ui label">Task Description</label>
                    <label>{{todo.description}}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui padded fluid wide container">
            <div {{whenNotRemoving}}>
                <div class="ui left floated deny" ((click:clean))><i class="ui grey hand-selection big reply icon"></i></div>
                <div class="ui right floated approve" ((click:setTodo))><i class="ui hand-selection {{reflectColor}} big {{reflectIcon}} icon"></i></div>
            </div>
            <div {{whenRemoving}}>
                <div class="ui left floated deny" ((click:clean))><i class="ui grey hand-selection big reply icon"></i></div>                
                <div class="ui right floated approve" ((click:remove))><i class="ui hand-selection red big trash icon"></i></div>
            </div>
        </div>
    </div>
</div>