<div class="ui fullscreen modal" id="{{modalId}}">
    <i class="close icon"></i>
    <div class="header">
        <span *ngIf="!isEditing"> 
            Adicione uma Nova Tarefa
        </span>
        <span *ngIf="isEditing"> 
            Editando Tarefa
        </span>
    </div>
    <div class="content">
        <form class="ui form">
            <div class="field">
                <label>Nome da Tarefa</label>
                <input type="text" ((change:setTodoName)) maxlength="50" minlength="5" placeholder="Ir ao supermercado...">
            </div>
            <div class="field">
                <label>Descrição da Tarefa</label>
                <textarea rows="2" ((change:setTodoDescription)) placeholder="Comprar 2 ovos, leite, farinha, etc."></textarea>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui checkbox" *ngIf="!isEditing">
            <label for="createMore">Continuar Adicinando</label>
            <input type="checkbox" id="createMore" [(ngModel)]="createMore" />
        </div>
        <div class="ui deny red button" (click)="cancelar()">Cancelar</div>
        <div class="ui approve green button" ((click:setTodo))>Salvar</div>
    </div>
</div>