<div class="fixed-action-btn">
    <a class="btn-floating btn-large red modal-trigger" href="#todoCreationModal">
        <i class="material-icons">playlist_add</i>
    </a>
</div>
<!-- Modal Structure -->

<form (submit)="submit()">
    <div id="todoCreationModal" class="modal teal lighten-5">
        <div class="modal-content">
            <div class="container">
                <h4 class="center"> <i class="small material-icons">playlist_add</i> Adicione uma Nova Tarefa</h4>
                <div class="row">
                    <div class="col s12">
                        <div class="input-field">
                            <input type="text" id="name" class="validate" length="50" minlength="5" [(ngModel)]="todo.name">
                            <label for="name">Nova Tarefa</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="input-field col s12">
                            <textarea id="description" class="materialize-textarea" length="150" rows="2" [(ngModel)]="todo.description"></textarea>
                            <label for="description">Descrição da tarefa</label>
                        </div>
                    </div>
                </div>
                <div class="row right">
                    <div class="col s12">
                        <input type="checkbox" id="createMore" [(ngModel)]="createMore" />
                        <label for="createMore"> Continuar adicionado</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer teal lighten-5">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <button class="btn waves-effect waves-light right" type="submit"><i class="fa fa-floppy-o" ></i></button>
                        <button class="btn red waves-effect waves-light right" (click)="resetForm()" type="reset"><i class="fa fa-eraser" ></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>